<?xml version="1.0"?>
<config>
	<modules>
		<Scriptkid_Quickorder>
			<version>0.1.0</version>
		</Scriptkid_Quickorder>
	</modules>
	<global>
		<helpers>
			<quickorder>
				<class>Scriptkid_Quickorder_Helper</class>
			</quickorder>
		</helpers>
		<blocks>
            <quickorder>
                <class>Scriptkid_Quickorder_Block</class>
            </quickorder>
        </blocks>
	</global>
	<frontend>  
		<routers>
            <quickorder>
                <use>standard</use>
                <args>
                    <module>Scriptkid_Quickorder</module>
                    <frontName>quickorder</frontName>
                </args>
            </quickorder>
        </routers>     
        <layout>
            <updates>
                <quickorder>
                    <file>quickorder.xml</file>
                </quickorder>
            </updates>
        </layout>
    </frontend>
</config> 
